.body{
    overflow: scroll;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(112, 111, 110);
    color: rgb(247, 238, 228);
    margin: 0 auto;
}


*,
*:before,
*:after{
    box-sizing: border-box;
}


.container{
    width: 100%;
    max-width: 1170px;
    margin: auto;
}

.header_inner{
    display: flex;
    justify-content: space-around;
    
}

.header{
    font-size: 30px;
    line-height: 0.9em;
    background-color: rgb(87, 86, 85);

}

.header_logo{
    padding: 15px 15px
}



.link_side{
    margin-right: 30px;
    font-size: 20px;
    border: none;
    padding-right: 15px;
}

.basic_inner{
    margin-top: 75px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 20px
}

.about_info{
    width: 50%;
    margin-right: 30px;
    margin-left: 100px;
    font-size: 20px;
    border: none;
}
.code_basic{
    margin-top: 30px;
    margin-left: 280px;
    font-size: 15px;
    font-style: italic;
    
     
}



.basic_inner2{
    margin-top: 75px;
    padding-left: 75px;
}

.title_code{
    text-align: center;
    font-size: 30px;

}

.know_inner{
    
    font-size: 20px;
    margin-top: 75px;
    line-height: 1.5em;
   
   
    
}

.li-lu{
    font-size: 15px;
    line-height: 0.9em;

}

.li_info{
    font-size: 30px;
    text-align: center;
}

.footer_content{
    font-size: 15px;
    margin-top: 75px;
    line-height: 0.9em;
    background-color: rgb(44, 44, 43);
    text-align: left;
    margin: 0 auto;
}

.data_footer{
    margin-top: 95px;
    text-align: end;

}
